*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

body{
    font-family: "Montserrat",'Helvetica Neue', sans-serif;
}

:root{
    --resp-title-color:#ff9614;
    --resp-main-bg-color:#f6f5f3;
    --resp-dessert-color:#4e3969;
    --resp-footer-bg-color:#7c69a4;
    --resp-main-category-color:#aaaaa9;
}

.row{
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: calc(100% / 12 * 1);
    padding: 1rem;
    flex-grow: 1;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}

.col-3 {
    width: calc(100% / 12 * 3);
    padding: 1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

.col-5 {
    width: calc(100% / 12 * 5);
    padding: 1rem;
}

.col-6 {
    width: calc(100% / 12 * 6);
    padding: 1rem;
}

.col-7 {
    width: calc(100% / 12 * 7);
    padding: 1rem;
}

.col-8 {
    width: calc(100% / 12 * 8);
    padding: 1rem;
}

.col-9 {
    width: calc(100% / 12 * 9);
    padding: 1rem;
}

.col-10 {
    width: calc(100% / 12 * 10);
    padding: 1rem;
}

.col-11 {
    width: calc(100% / 12 * 11);
    padding: 1rem;
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.site_header{
    min-height: 70px;
}

.site_main{
    background-color: white;
}

.title{
    color: var(--resp-title-color);
    padding: 1rem 0;
    text-align: center;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: 1rem;
}

.container{
    width: 95%;
    max-width: 750px;
    margin: auto;
    padding: 1rem;
    background-color: var(--resp-main-bg-color);
    min-height: 2000px;
}

.category{
    color: var(--resp-main-category-color);
}

.name{
    color: var(--resp-dessert-color);
    padding: 1.2rem 0;
}

#show{
    display: none;
}

h2{
    display: inline;
}

.recipe{
    width: 100%;
    background-color: white;
}

.description{
    padding: 2rem;
}

.description ul{
    padding-top: 2rem;
}

.description ul li{
    padding: 1rem 0;
}







@media screen and (min-width:767px) {
    .title{
        text-align: start;
        padding: 1rem;
        font-size: 1.2rem;
    }

    #show{
        display: inline;
    }

    .name {
        color: var(--resp-dessert-color);
        font-size: 1.5rem; 
    }
}


@media screen and (min-width:992px) {
    .title {
        text-align: start;
        padding: 1rem;
        font-size: 1.2rem;
    }

    #show {
        display: inline;
    }

    .name {
        color: var(--resp-dessert-color);
        font-size: 1.7rem;
    }
}